@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: 'PilseungGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/PilseungGothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EASTARJET-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}


.App {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  
}

.font_pilseung {
  font-family: PilseungGothic;

}

.font_eastar {
  font-family:EASTARJET-Medium;
}

.line {
  width: 1024px;
  height: 1px;
  margin: 20px 0 40px 0;
  background-color: white;
}

/* header nav */
.header {
  box-shadow: 0 3px 10px #ccc;
}

.headerContainer{
  display: flex;
  margin: 0 12%;
}

.headerContainer #navTitle{
  font-size: 1.2em;
  color: #444;
}
.headerContainer .me-auto{
  margin-right: 0 !important;
}

/* home  */

.homeContainer{
  margin-top: 200px;
  border: 1px solid rebeccapurple;
  display: flex;
  top: 100px;
  width: 1500px;
  margin: auto;

}
.homeContainer h1{
  font-size: 60px;
}
.myselfie{
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  height: 500px;
  
  
}

.myselfie img{
  width: 500px;
  height: 500px;
}

.homeProfile {
  
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;

}

.homeProfile h3,.homeProfile h4{
  font-family: 'EASTARJET-Medium', sans-serif;
  margin-top: 20px;
  font-size: 1.5em;
}

.homeProfile h1 {
  font-size: 2em;
  font-family: PilseungGothic;
  margin-bottom: 10px;
}


/* Project */

.projectContainer{
  display: flex;
  text-align: center;
  background-color: #66b3ff;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.projectContainer h1 {
  color: #fff;
  margin-top: 50px;
}

.mainCarousel {
  width: 1000px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 20px #1a77d3;
}

.mainCarousel > .carousel-indicators > button {
  background-color: #66b3ff;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  margin-left: 6px;
  border-radius: 50%;
}

.carousel-control-next {
  width: 10%;
  right: -100px;
}

.carousel-control-prev {
  width: 10%;
  left: -100px;
}

.projectInfoContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 95%;
  
}

.projectInfoContainer h2 {
  color: #444;
}

.projectInfoContainer h5 {
  font-weight: bold;
  color: #444;
}

.projectInfoContainer .badge {
  --bs-badge-padding-y: 0.45em;
  --bs-badge-font-weight: 600;
  --bs-badge-color: #eee;
}

.projectInfoContainer > p {
  font-size: 0.8em;
  font-family: EASTARJET-Medium;
  color: #777;
}

.projectInfoContainer > div > div > p {
  font-size: 0.9em;
  font-family: EASTARJET-Medium;
  color: #666;
}

.projectInfoContainer .functions {
  font-size: 0.9em;
  font-family: EASTARJET-Medium;
  color: #666;
}

.gitUrl {
  font-size: 0.9em;
  font-family: EASTARJET-Medium;
  color: #666;
  margin-left: 5px;
}

.originFont {
  font-family: var(--bs-body-font-family);
  font-size: 0.9rem;
}


/* Footer */

.footerContainerf{

  margin-top: 50px;
}


/* Resume --------- */




.resumeContainer {

  width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
 
  background-color: #ddd;
  
}



.resumeContainer section {
  margin-bottom: 30px;
}

.resumeContainer h2 {
  color: #333;
  
}

.resumeContainer ul {
  list-style-type: none;
  padding: 0;
}

.resumeContainer li {
  margin-bottom: 10px;

}

.education,
.experience {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  
}
.education {
  margin-top: 30px;
}

.resumeTopContent {
  margin-top: 100px;
  display: flex;
}

.topContentImg{
  width: 300px;
  height: 300px;
  background-color: blue;

  margin-left: auto;
  margin-right: auto;

}

.resmecontentTopInfo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.miniInfo h3{
  margin-top: 20px;
  
}

.euduContent {
  display: flex;
  margin-top: 20px;
}
.euduContent div{
  margin-left: auto;
  margin-right: auto;
}


.reumeBottomContent{
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.reumeBottomContent div{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* Technology */

.technologyContainer {
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologyContainer h1{
  margin-top: 50px;
  color: white;
}

/* Features */


.features{
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
.chat-container {
  max-width: 400px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat {
  padding: 20px;
}

.message {
  margin-bottom: 15px;
  display: flex;
}

.received {
  justify-content: flex-start;
}

.sent {
  justify-content: flex-end;
}

.content {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.sent .content {
  background-color: #66b3ff;
  color: white;
  align-self: flex-end;
}

.content {
  font-family:EASTARJET-Medium;
  font-size: 25px;
}

/* aboutMe */
.aboutMeTopContainer {
  width: 1000px;
  margin: auto;
  margin-top: 40px;
}

.aboutMeTopContent{
  width: 1000px;
  display: flex;
  
}
.myInfoContents {
  text-align: left;
 margin-left: 30px;
 margin-top: 40px;
}
.myInfoContents div{
  border-bottom: 1px solid rgb(209, 205, 205);
  margin-top: 40px;
}

.resmecontentTopInfoVa{
  border-right: 2px solid black;
}
.myInfoContents h4{
  font-family:EASTARJET-Medium;
  font-size: 26px;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
